@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  max-width: 1280px;
  height: 72px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.form_container {
  display: flex;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.form_controller {
  display: flex;
  flex-direction: column;
  width: 50vh;
  gap: 2px;
}

.form_controller input {
  height: 40px;
  padding: 0 8px;
}

.form_image {
  margin: 0 auto;
}

.form_btn {
  width: 30%;
  height: 30px;
  margin-top: 20px;
  background-color: rgb(89, 187, 240);
  border-radius: 4px;
}

.get_data {
  margin-top: 10px;
  max-width: 250px;
}
